 {% extends 'base.html.twig' %}

{% block title %}Hello ReviewsController!{% endblock %}

{% block body %}
  
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

         <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="search" name="recipe[raw1]" class="search form-control" placeholder="Search recipes"  />
                </div>
            </form>


{% endblock %}